.ct-legend {
    position: relative;
    z-index: 10;
    list-style: none;
    text-align: center;
    margin:0px;
}

.ct-legend li {
    position: relative;
    padding-left: 20px;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    display: inline-block;
    line-height: 16px;
}

.ct-legend li:before {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
}

.ct-legend li.inactive:before {
    background: transparent;
}

.ct-legend li.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
}

    .ct-legend li.ct-series-0:before {
        background-color: #00CA4C;
        border-color: #00CA4C;
    }

    .ct-legend li.ct-series-1:before {
        background-color: #1d82ff;
        border-color: #1d82ff;
    }
